head 
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width,initial-scale=1,viewport-fit=cover')

    title Advent Of Code'22 Solutions

    link(rel='stylesheet' href='styles.css' media='screen')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap' rel='stylesheet')

    script(src='https://unpkg.com/htmx.org@1.9.4' integrity='sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/a67a4fbda6.js' crossorigin='anonymous')